[mysqld]
default-storage-engine=InnoDB
character-set-server=utf8
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
innodb_data_file_path=ibdata:100M:autoextend:max:15851M
innodb_additional_mem_pool_size=2M
innodb_log_buffer_size=1M
innodb_buffer_pool_size=64M
# only need this buffer for the
# mysql tablespace for authentication
key_buffer_size=64M
query_cache_size=32M
query_cache_limit=8M
innodb_log_file_size=16M

# set larger connection limit
max_connections=2625
# increase timeout
net_write_timeout=120

low-priority-updates=0
transaction-isolation=READ-COMMITTED
# and ignore connect errors so it retries a lot
max_connect_errors=2000000
max_allowed_packet=32M
interactive_timeout=864000
slow_query_log=1

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[mysql]
# command line imports of audit data can fail with max allowed packet size
# This will help
max_allowed_packet=32M

